body {
  font-family: sans-serif;
  margin: 0;
  background-repeat: none;
  background-size: cover;
  font-size: .9vw;
}


header.row{
  max-width: 100%;
  background-color: black;
  height: 150px;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

.main-container {
  background-color: black;
  color: white;
  position: relative;
  text-align: center;
  margin-top: 50px;
  left: 33.3%;
  width: 70%;
  max-width: 70%;
  height: auto;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

#zip-search {
  position: relative;
  border: 01px solid #9b9b9b;
  padding-left: 10px;
  width: 70%;
  height: 36px;
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

button#submit{
  padding: 0;
  height: 36px;
  width: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.error{
  color: red;
}

.weather-container {
  background-color: #66b3ff;
  position: absolute;
  color: white;
  max-width: 33.3%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
  left: 10px;
  float: left;
}

.icon{
  height: 100px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.weather-container.h2{
  text-align: center;
}

.weather-container.p {
  text-align: left;
}

.music-container {
  visibility: hidden;
  display: block; 
  max-width: 80%;
  margin-left: 25%;
  margin-top: 100px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.music-results {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1024px;
  padding-top: 10px;
}



