body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: none;
  background-size: cover;
}


header.row{
  max-width: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #232323;
  height: 150px;
}

header h1 {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

.main-container {
  background-color: #716f70;
  color: white;
  position: relative;
  text-align: center;
  margin-top: 50px;
  left: 33.3%;
  width: 70%;
  max-width: 70%;
  height: auto;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

#zip-search {
  position: relative;
  border: 01px solid #9b9b9b;
  padding-left: 10px;
  width: 70%;
  height: 36px;
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

button#submit{
  padding: 0;
  height: 36px;
  width: 60px;
  font-size: 20px;
  background-color: #716f70;
  color: white;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.error{
  color: red;
  text-align: left;
  padding-left: 15px;
}

.weather-container {
  background-color: #66b3ff;
  margin-top: -186px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

h2{
  text-align: center;
}


.icon{
  height: 80px;
  width: 80px;
}


.weather-container.p {
  text-align: left;
}

.music-container {
  visibility: hidden;
  display: block; 
  max-width: 80%;
  margin-left: 25%;
  margin-bottom: 20px;
  background-color: #716f70;
  color: white;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.music-results {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  padding-top: 10px;
}

.caption {
  text-align: center;
}

footer.row {
  max-width: 100%;
  height: auto;
}

#footer {
  background-color: #232323;
  height: 100px;
  position: relative;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;

}
.pixabay {
  height: 100px;
  width: 100px;
}
@media only screen and (max-width: 640px) {
  .weather-container {
    margin: 25px auto;
  }

  .main-container {
    margin-left: -70px;
  }

  .music-container {
    margin: auto 25px auto auto;
}

