body {
  font-family: sans-serif;
  margin: 0;
}


header.row{
  max-width: 100%;
  background-color: black;
  height: 100px;
}

header h1 {
  color: white;
  line-height: 1;
  text-align: center;
  padding: 10px;
  font-size: 50px;
}

.main-container {
  background-color: black;
  position: relative;
  max-width: 70%;
  top: 50%;
  left: 33.3%;
  margin-top: 50px;
  color: white;
  border-radius: 10px;
  text-align: center;
  opacity: .8;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

#zip-search {
  border: 1px solid #9b9b9b;
  background-color: white;
  padding-left: 10px;
  width: 50%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
}

button#submit{
  height: 40px;
  width: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
}

.error{
  color: red;
}

.weather-container {
  position: absolute;
  background-color: #66b3ff;
  color: white;
  max-width: 25%;
  padding: 10px;
  border-radius: 10px;
  right: 10px;
  top: 150px;
  opacity: .8;
  float: left;
}

.icon{
  height: 100px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.weather-container.h2{
  text-align: center;
}

.weather-container.p {
  text-align: left;
}

.music-container {
  display: block; 
  max-width: 50%;
  margin-left: 25%;
  margin-top: 120px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  opacity: .8;
}

.caption {
  text-align: center;
  padding: 0 10px;
  }